body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.auto_margin {
  margin: auto;
}

.center {
  text-align: center;
}

.microposts {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

.content {
  margin-left: 5px;
  font-weight: bold;
}

.responder {
  margin-left: 100px;
  color: red;
}

.poster {
  font-size: 20pt;
  font-weight: bold;
  color: blue;
}

.empty {
  color: gray;
  margin-left: 100px;
}

.input {
  font-size: 12pt;
}

.response {
  width: 300px;
  height: 20px;
}

.upvote {
  max-width: 30px;
  max-height: 20px;
  cursor: pointer;
}

#comment {
  width: 400px;
  height: 100px;
}

#header {
  color: red;
}

#landing_pic {
  max-width: 500px;
  max-height: 200px;
  display: block;
  margin: auto;
}

#comment_table {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

#response_form {
  margin-left: 100px;
}
